  <div class="container">
    <footer class="white-section" id="footer">
      <hr>
        <a class="social-icon" href="https://www.instagram.com/barcellora_cartoon/?hl=en"><i class="social-icon instaI fa fa-instagram fa-5" aria-hidden="true"></i></a>
        <a class="social-icon" href="https://buy.stripe.com/bIY16ya436nIgLeeUU"><i class="social-icon fa fa-money fa-5" aria-hidden="true"></i></a>

        <p>© 2022 barcellora </p>
    </footer>
</div>
