<nav class="navbar navbar-expand-lg navbar-light bgImg">
  <div class="container">
    <%# <div id="headerImg">
      <a class="navbar-brand" href="/" style="float:none">
        <%= image_tag "barcellora.png", width:1000 %>
      <%# </a> %>
  </div>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-links">
            <li class="nav-item">
              <%= link_to "videos", root_path %>
            </li>
            <li class="nav-item">
              <%= link_to "info", contact_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'donate!', "#{contact_path}#donateButton" %>
            </li>
         </ul>
      </div>



   </div>
</nav>
