<div class="container">
  <%# Title Section %>


  <%# Title Section %>
  <div class= "gifBanner">
      <a class="gifLink" href="/" style="float:none">
        <%= image_tag "barcellora.gif", width:1000, height:500 %>
      </a>
  </div>

  <div class= "title">
    <h2>↓ info ↓</h2>
  </div>

  <%# Container of Image & Text DIV/Elements %>
  <div class="container imageText">
    <div class="row layout">
      <div class="col-6 imageLayout">
        <img class="contactImage" src="https://uning.es/wp-content/uploads/2016/08/ef3-placeholder-image.jpg" alt="q haces p**o, voy!" >
      </div>
        <%# Contact Section (select txt wish to edit and edit -ONLY WHITE TEXT) %>
      <div class="col-6 contactText">
        <div class="textBox">
          <h5>The story began ...</h5>
          <h5>From Bcn 5 the world</h5>
          <h5>Pls donate 6 for 7 cervecas</h5>
          <h5>barcellora@mail.com</h5>
        </div>
      </div>

      <div id="donateButton">
          <a class="donateBtn btn btn-success" href="#">
            <i class="fa fa-money fa-6"></i> Donate <i class="fa fa-money fa-6"></i> </a>
      </div>

    </div>
  </div>

</div>
