<div class="container">

  <%# Video containers - replace only section inside div called embedVid --> iframe with link from  %>
  <%# To replace embeded video copy/paste section between <iframe .....<></iframe> %>
  <%# Order First Video At TOP Of Site  %>

  <%# Gif %>
  <div class= "gifBanner">
      <%# <a class="gifLink" href="/" style="float:none"> %>
        <%= image_tag "barcellora.gif", width:1000, height:500, class:"gifLink" %>
       <%# </a> %>
  </div>

  <div id="videos">
    <div class="titleEpisode">
      <%= image_tag "episodesBtn.png", width:215, height:42 %>
    </div>

    <div class="embedVid">
      <iframe width="859" height="315" src="https://www.youtube.com/embed/4v75R7drxUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embedVid">
      <iframe width="859" height="315" src="https://www.youtube.com/embed/rJUMzf5vELQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embedVid">
      <iframe width="859" height="315" src="https://www.youtube.com/embed/6NApJGtOHfs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embedVid">
      <iframe width="859" height="315" src="https://www.youtube.com/embed/JxkeNjY07vc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embedVid">
      <iframe width="859" height="315" src="https://www.youtube.com/embed/z17tkMeabJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embedVid">
      <iframe width="859" height="315" src="https://www.youtube.com/embed/ssU_Qp1r64s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embedVid">
      <iframe width="859" height="315" src="https://www.youtube.com/embed/zE_B6hANcHE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embedVid">
      <iframe width="859" height="315" src="https://www.youtube.com/embed/N1vFKt9gF-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div id="donateButton">
      <a class="donateBtn btn btn-success" href="https://buy.stripe.com/bIY16ya436nIgLeeUU">
        <i class="fa fa-money fa-6"></i> Donate <i class="fa fa-money fa-6"></i> </a>
    </div>
  </div>
</div>
