<div class="container">
  <%# Title Section %>
  <div class= "gifBanner">
    <%= image_tag "bcInfo.gif", width:1000, height:500, class:"gifLink" %>
  </div>

  <div id="title">
      <%= image_tag "infoBtn.png", width:215, height:52 %>
      <h2>↓</h2>
  </div>

  <h5 class="overHead">Barcellora Cartoon is based on real stories from the streets of Barcelona, two main characters depict the daily life of people who live here or come on vacation. Some scenes are exaggerated but make sense. The idea behind creating this cartoon is to share our experiences and show people what life in Barcelona looks like. The name barcellora was created by combining the two words barcelona and llorar - barcellora (llorar means crying in Spanish)</h5>

  <div class="teamPic">
    <%= image_tag 'barcelloraTeam.jpg', height:650, class:"teamPic" %>
  </div>

  <h5 class="overHead">If you want to help barcellora grow and support this cartoon, and its community, you can donate to us by clicking the big green donate button below! You can choose any amount of money, no donation is to big or small it all helps to support us. We’re planning and developing different possiblities to grow this organization and improve it continuously. The money from the donations would be used to buy better tools and programs for improving the animations and effects, also to pay for the voice over actors and animators {and all the other junkies involved in the productions}. Stay tuned for more updates on our instagram page @barcellora_cartoon {there are many more things coming}!</h5>

  <div id="donateButton">
    <a class="donateBtn btn btn-success" href="https://buy.stripe.com/bIY16ya436nIgLeeUU">
      <%=  image_tag "btnDonate.png", class:"donateGuys" %>
 </a>
  </div>
</div>
