// General placement of all pieces of nav bar (Name + links)
.navbar {
  margin-bottom: 2rem;
  flex-direction: column;
}

.bgImg {
  background-image: url(asset_path('barcelloraHeadWeb.jpg'));

  height: 31.25rem;
  width: fit-content;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
  background-position-x: right;
  padding-left: 1.8em;
}

// Navbar links
.nav-links {
  margin-top: 31em;
  margin-right:50em;
}

// nav hover darken + bounce animation
.nav-item {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  &:hover {
    animation-name: navBump;
    animation-timing-function: ease-in-out;
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
}
@keyframes navBump {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.navRow {
  margin-top: 1em;
}

// media queries (resizing)

// All devices up to a width of 600 px = Most mobile Phones
@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    padding-top: 0.8em;
    padding-bottom: 0.5rem;
  }
  .nav-links {
    text-align: center;
    display: table-cell;
  }
  .navRow {
    margin-right: 1.1em;
  }
  .nav1 {
    margin-top: 14em;
  }
  .bgImg {
    background-image: url(asset_path('barcelloraHeadMob.jpg'));
    height: 15em;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

    /* Needed to position the navbar */
    position: relative;
    width: 100%;
  }
  .gifBanner {
    margin-top: 9em !important;
  }
}

// smaller phone screens
@media (max-width: 400px) {
  .bgImg {
    background-image: url(asset_path('barcelloraHeadMob.jpg'));
    height: 15em;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

    /* Needed to position the navbar */
    position: relative;
    width: 100%;
  }
  .navbar {
    padding-top: 0.8em;
  }
  .nav-item {
    padding-right: 0;
    margin-right: 0;
  }
  .nav-item a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .navbar-toggler {
    margin-left: 80% !important;
  }
  .tagline {
    font-size: 1.3rem;
  }
}

// Everything below normal 11-12inch laptop (tablet, big phone etc)
@media (min-width: 700px) {
  .navbar {
    padding-top: 1em;
    padding-bottom: 0.9rem;
  }

  .nav-item {
    padding-right: 0;
  }
}
