// Page style container box centering etc
.layout {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  font-family: 'Smooch Sans', sans-serif;
  padding: 2em;
}

// Styling + font + position of title
#title {
  margin-top: 2em;
  text-align: center;
  justify-content: center;
}

.gifBanner {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.teamPic {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
 }

.gifLink {
  margin-top: 2em;
}

// Styling + font + position of info text ( email, address )
h5.overHead {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

// donate section

#donateButton {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  justify-content: center;
}

.donateBtn {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  font-size: 2em;
}


// Media Breakpoints (when screen is resized ie. for Iphone / Samsung, tablets etc (smaller/larger)

// All devices up to a width of 400px = Most mobile Phones
@media (max-width: 400px) {
  .imageLayout{
    display:flex;
    align-items: center;
    justify-content:end;
  }
  h5.overHead {
    font-size: 1rem;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }
  .title, h2 {
      font-size: 1rem;
      font-weight: 200;
      letter-spacing: 0.2rem;
    }
  // img.gifLink{
  //   height: 400px;
  //   width: 370px;
  // }
}

// All devices up to a width of 600px = Most mobile Phones
@media (max-width: 600px) {
  .footerContainer {
    margin-top: 10rem;
  }
  h5.overHead {
    font-size: 1rem;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.23rem;
    line-height: 1.5em;
  }
  img.gifLink{
    height: 395px;
    width: 375px;
  }
  .title h2 {
    font-size: 1.2rem;
  }
  .teamPic {
    width: 100%;
    height: 110%;
  }
}



// Sets image to be stuck close to contact-text on screens larger than 1300px (most laptops)
// @media (min-width: 1250px) {
//   .imageLayout{
//     display:flex;
//     align-items: center;
//     justify-content:end;
//   }
// }
