// Page style container box centering etc
// .layout {
//   display: flex;
//   // justify-content: space-around;
//   align-items: center;
//   font-family: 'Smooch Sans', sans-serif;
//   padding: 2em;
// }

// Styling + font + position of title
#title {
  margin-top: 2em;
  text-align: center;
  justify-content: center;
}

.gifBanner {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.teamPic {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
 }

.gifLink {
  margin-top: 2em;
}

// Styling + font + position of info text ( email, address )
h5.overHead {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;

  line-height: 3rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

// donate section

#donateButton {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  justify-content: center;
}

.donateGuys {
  height: 400px;
  width: 600px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  &:hover {
    animation-name: donateGuys;
    animation-timing-function: ease-in-out;
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
}
@keyframes donateGuys {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(+40px); }
  100% { transform: translateY(0); }
}



// Media Breakpoints (when screen is resized ie. for Iphone / Samsung, tablets etc (smaller/larger)

// All devices up to a width of 400px = Most mobile Phones
@media (max-width: 400px) {
  .donateGuys {
    height: 230px;
    width: 310px;
  }
  h5.overHead {
    font-size: 1rem;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }
  .title, h2 {
      font-size: 1rem;
      font-weight: 200;
      letter-spacing: 0.2rem;
    }
}

// All devices up to a width of 600px = Most mobile Phones
@media (max-width: 600px) {
  .footerContainer {
    margin-top: 10rem;
  }
  .donateGuys {
    height: 300px;
    width: 440px;
    margin-left: -1em;
  }
  h5.overHead {
    font-size: 1rem;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.23rem;
    line-height: 1.5em;
  }
  img.gifLink{
    height: 395px;
    width: 375px;
  }
  .title h2 {
    font-size: 1.2rem;
  }
  .teamPic {
    width: 100%;
    height: 110%;
  }
}



// Sets image to be stuck close to contact-text on screens larger than 1300px (most laptops)
// @media (min-width: 1250px) {
//   .imageLayout{
//     display:flex;
//     align-items: center;
//     justify-content:end;
//   }
// }
